@import "fonts/gobold/gobold.css";
@import "fonts/gotham/gotham.css";
@import "fonts/montserrat/montserrat.css";
:root {
  --border-gray: #d6d6d6;
  --preloading-color: #fff;
  
  --z-page-topbar: 450;
  --z-drawer: 500;
  --z-topbar: 600;
  --z-editor-fullscreen: 700;
  --z-image-selector: 800;
  --z-transfer: 900;
  --z-fab: 900;
  --z-drawer-fixed: 1000;
  --z-page-menu: 1050;
  --z-selector: 1100;
  --z-fab: 1200;
  --z-dialog-overlay: 2000;

  --primary-rgb: 121, 207, 183;
  --primary-color: rgb(var(--primary-rgb));
  --secondary-rgb: 128, 16, 187;
  --secondary-color: rgb(var(--secondary-rgb));
  --violet: var(--secondary-color);
  --violet-rgb: var(--secondary-rgb);
  --link-color: #3d5afe;
}

* {
  min-width: 0;
  min-height: 0;
}

html, body, #sapper {
  display: flex;
  flex: none;
  height: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

html {
  font-family: Montserrat, Helvetica, Helvetica-Neue, Arial, sans-serif;
  font-weight: 500;
  /* Montserrat is too skinny */
}

@media screen and (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
}

body {
  margin: 0;
}

::selection {
  background: lightblue !important;
}

::-moz-selection {
  background: lightblue !important;
}

.na {
  text-decoration: none;
  color: inherit;
}

.btn-dark, .btn-light {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.btn-dark:after, .btn-light:after {
  z-index: 0;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  user-select: none;
  contain: strict;
  transition: background-color 200ms ease;
}

.btn-dark:hover:after, .btn-dark.hover:after {
  background-color: rgba(0, 0, 0, 0.08)
}

.btn-light:hover:after, .btn-light.hover:after {
  background-color: rgba(255, 255, 255, 0.075);
}

.btn-dark>.ripple {
  color: rgba(0, 0, 0, 0.15) !important;
}

.btn-light>.ripple {
  color: rgba(255, 255, 255, 0.4) !important;
}

[data-tooltip]:hover:before {
  opacity: 1;
}

/* elevation */

.elev2 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.elev3 {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.elev4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.elev6 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.elev8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.elev16 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

/* overlay */

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
}

.btn-primary {
  color: #fff;
  background: var(--violet);
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0.25rem;
}

.contain {
  object-fit: contain;
  object-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cover {
  object-fit: contain;
  object-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip {
  position: fixed;
  display: block;
  white-space: nowrap;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  pointer-events: none;
  transition: opacity 200ms ease;
  opacity: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  border-radius: 0.25rem;
}

.tooltip.visible {
  opacity: 1;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; 
}